@import './base.css';

body{
  background-color: rgb(245, 245, 245);
}

#app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;

  font-weight: normal;
}

a{
  color: #4ab886;
  text-decoration: none;
  font-size: 1.2rem;
  margin: 0 0.5rem;
}

.d-flex{
  display: flex;
}

.justify-content-center{
  justify-content: center;
}

.justify-content-between{
  justify-content: space-between;
}

.align-items-center{
  align-items: center;
}

.fade-enter-active,
.fade-leave-active {
  transition: opacity 0.2s ease;
}

.fade-enter-from,
.fade-leave-to {
  opacity: 0;
}

@media screen and (max-width: 768px) {
  #app {
    padding: 1rem;
  }
  .todos {
    padding: 1rem 1rem 0.5rem 1rem;
  }
}
